

.button {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    color: white;
    align-items: center;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    background: none;
    border: none;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.button:hover {
background-color: #4c5861;
box-shadow: 0 0 10px #1b2838;

}

.buttondiv {
    display: flex;
    justify-content: center;
}

.settingsbtn {
    padding-top: 700px;
}